.job-card {
  width: 50%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.job-title {
  font-size: 1.5rem;
  text-align: right;
}

.job-body {
  font-size: 1rem;
  color: #555;
  text-align: left;
}

.apply-section {
  display: flex;
  flex-direction: row-reverse;
}

.apply-button {
  margin-top: 10px;
  cursor: pointer;
  color: #102a54;
  text-decoration: underline;
}
