.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f5f9; /* Light blue background color */
}

.login-form-container-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1c3263; /* Dark blue title color */
}

.login-form-container-row {
  margin-bottom: 1rem;
  text-align: left;
}

.login-form-container-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #1c3263; /* Dark blue label color */
}

/* LoginForm.css */
.login-form-input {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #1c3263;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form-button {
  padding: 0.5rem 1rem;
  background-color: #1c3263;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form-button:hover {
  background-color: #102a54;
}

.login-form-text {
  color: #1c3263;
}

.login-form-link {
  color: #007bff;
  cursor: pointer;
}

.login-form-link:hover {
  text-decoration: underline;
}
