.new-post-container {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.new-post-container form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.new-post-container .new-post-title {
  margin-bottom: 10px;
}

.new-post-container .new-post-input,
.new-post-container .new-post-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.new-post-container .new-post-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.new-post-container .new-post-textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  margin-bottom: 10px;
  resize: vertical;
  overflow-y: auto;
}
