.new-post-container {
  margin: auto;
  width: 50%;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  height: calc(100vh - 8rem);
  margin-bottom: 10px;
}

.new-post-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-post-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #102a54;
}

.new-post-input,
.new-post-textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #102a54;
  padding: 8px;
}

.new-post-button {
  background-color: #102a54;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.new-post-textarea {
  height: 300px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #102a54;
  margin-top: 20px;
}
